body{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
}

.img-responsive{
    text-align: center;
    display: inline-block;
}

.ng-hide {
   /*hiding an element */
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

form{ font-size: 1.1em; }

button a{
  color: #fff;
  text-decoration: none;
}

button a:hover{
  color: #fff;
  text-decoration: none;  
}

/*Stying for Tables made with div tags instead of table tags
Adapted from: 
http://www.dummies.com/web-design-development/css3/using-the-div-tag-to-create-tables/

and from CSS and HTML generated at: 
http://divtable.com/generator/
*/
.div-table {
    display: table;
    
}

#search-results-table{
    display: inline-block;
}

#recent-releases-table{
    display: inline-block;
}

.div-table-body{
    display: table-row-group;
}

.div-table-heading {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: table-header-group;
}

.div-table-heading .div-table-cell{
    border-bottom: 2px solid #000000;
}

.div-table-row {
    display: table-row;
}

.div-table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 3px 10px;

}

form{ font-size: 1.1em; }

input{
    font-size: 1.1em;
    border: 1px solid;
    border-color: #000000;
}

button{
    border-color: #ffffff;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 1.04em;
    padding: 1.01em;
}

a{ text-decoration: none; }

.img-responsive{
    text-align: center;
    display: inline-block;
}
/*
Media Queries for responsive ads in Google Adsense
*/
.responsive_ads { 
    margin-left: auto;
    margin-right: auto;
    width: 340px; 
    height: 100px; 
}
@media(min-width: 500px){
    .responsive_ads { width: 468px; height: 60px;}
}
@media(min-width: 800px){
    .responsive_ads { width: 728px; height: 90px;}
}