node_modules/
lib/
.bowerrc
.bowerrc~
# Combined CSS file
css/combinedStyle.css
# Angular library (non-minified)
js/angular.js
# Minified js files
js/angular.min.js
js/bootstrap.min.js
js/jquery-3.1.1.min.js
js/gameapp.min.js
js/gameSearchComponent.min.js
js/recentReleases.min.js
js/recentReleasesComponent.min.js
# minified css files
css/style.min.css
css/bootstrap.min.css
