<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--Combined JS file containing Libraries, controllers and components-->
        <script src="js/gameJudgement.js"></script>

        <script>
        // Google analytics code
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'MY_GA_ACCOUNT_KEY', 'auto');
          ga('send', 'pageview');
        </script>
        <!--Code to fetch web fonts from Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        <!-- adding custom CSS and CSS from bootstrap-->
        <link rel="stylesheet" href="css/combinedStyle.css" crossorigin="anonymous">
        <title>GameJudgement - Find out if you should buy that game</title>
    </head>
    <body ngjq ng-app="gameJudgement">
        <div>
            <!--Google Adsense code-->
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Responsive Ads -->
            <ins class="adsbygoogle responsive_ads"
                 style="display:inline-block"
                 data-ad-client="MY_ADSENSE_AD_CLIENT_KEY"
                 data-ad-slot="MY_ADSENSE_AD_SLOT_KEY"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div ng-controller="gameSearchCtrl as searchctrl">
            <div ng-controller="recentReleasesCtrl as ctrl">
                <div class="container-fluid"> 
                    <h1 id="site-title"> GameJudgement</h1>
                    <p id="slogan">Find out if you should buy that game (preview edition)</p>
                    <div id="notes">
                    <p><u><b>Please Note:</b></u></p>
                        <p>1) Search results and recent releases are for PC games(for now)</p>
                        <p>2) Target score: If a game's review score from the press is higher than this score, then a "buy" recommendation will be displayed for it.</p>
                    </div>
                    <form name="gameForm" ng-init="game=''" class="form-horizontal">
                        <!--A form for the user to type in their search query for their game
                        
                        Form validation using solutions adapted from: 
                        http://stackoverflow.com/questions/16263158/angularjs-prevent-form-submission-when-input-validation-fails
                        http://stackoverflow.com/questions/25308702/matching-one-or-more-alphanumeric-characters-with-angularjs
                        -->
                        <div class="form-group">
                            <label>Game name:</label>
                            <p><input id="game" ng-model="game" type="text" ng-pattern="/^[a-zA-Z0-9 ]+$/" placeholder="game" name="game" required/></p>
                            <p ng-if="gameForm.game.$invalid"><b>Numbers and letters only for game searches!</b></p>
                        </div>
                        <div class="form-group">
                            <!--This is the target score which is used to determine if a game is worth buying(which is 75 by default). More on this down below-->
                            <label>Target score (between 1 and 100 please):</label>
                            <p><input id="target" type="number" placeholder="target" ng-model="target" name="target" min="1" max="100" /></p>
                            <p ng-if="gameForm.target.$invalid"><b>Your target score must be between 1 and 100</b></p>
                        </div>
                        <p>E.G.: A game has a press rating of 89 and is above the target score of 60, so a verdict of "buy" would be shown for it</p>
                        <div id="form_buttons" ng-if="searchctrl.clickCounter == 0 && ctrl.clickCounter == 0" >
                            <button ng-disabled="(gameForm.game.$invalid || gameForm.game.$pristine) || gameForm.target.$invalid" type="submit" class="btn btn-primary" ng-click="search(game)">
                                <p>Search</p>    
                            </button>
                            <button ng-disabled="game.length > 0 || gameForm.target.$invalid" type="submit" class="btn btn-primary" ng-click="getReleases()">
                                Recent releases
                            </button>
                        </div>
                        <div ng-if="searchctrl.clickCounter >= 1 || ctrl.clickCounter >= 1">
                            <a class="btn btn-primary" href="/">Start Over</a>
                        </div>
                    </form>
                </div>
                
                <div id="search-results-table" class="table-responsive" ng-if="searchctrl.games.length > 0">
                    <div class="div-table">
                        <div class="div-table-row">
                            <div class="div-table-heading">
                                <div class="div-table-cell">
                                    <p><b>Name</b></p>
                                </div>
                                <div class="div-table-cell">
                                    <p><b>Press Rating</b></p>
                                </div>
                                <div class="div-table-cell">
                                    <p><b>Players' Rating</b></p>
                                </div>
                                <div class="div-table-cell">
                                    <p><b>Verdict</b></p>
                                </div>
                                <div class="div-table-cell">
                                    <p><b>Cover/Box Art</b></p>
                                </div>
                                <div class="div-table-cell">
                                    <p><b>Steam Link</b></p>
                                </div>
                            </div>
                            <search-results id="resultsRow" class="div-table-row" game="game" ng-repeat="game in searchctrl.games" right-now="searchctrl.rightNow" target="target" steam-list="searchctrl.steamList"></search-results>
                            <h3 ng-if="searchctrl.games.length == 0 && searchctrl.clickCounter >= 1">No results</h3>
                        </div>
                    </div>
                </div>
                
                <div class="table-responsive" id="recent-releases-table" ng-if="ctrl.newReleases.length > 0">
                    <h3>Recent Releases</h3>
                    <div class="div-table">
                        <div class="div-table-body">    
                            <div class="div-table-row">
                                <div class="div-table-heading">
                                    <div class="div-table-cell">
                                        <p><b>Name</b></p>
                                    </div>
                                    <div class="div-table-cell">
                                        <p><b>Press Rating</b></p>
                                    </div>
                                    <div class="div-table-cell">
                                        <p><b>Players' Rating</b></p>
                                    </div>
                                    <div class="div-table-cell">
                                        <p><b>Verdict</b></p>
                                    </div>
                                    <div class="div-table-cell">
                                        <p><b>Cover/Box Art</b></p>
                                    </div>
                                    <div class="div-table-cell">
                                        <p><b>Steam Link</b></p>
                                    </div>
                                </div>
                                <releases class="div-table-row" release="release" ng-repeat="release in ctrl.newReleases" right-now="ctrl.rightNow" three-months-ago="ctrl.threeMonthsAgo" steam-list="ctrl.steamList" target="target">
                                </releases>
                                <h3 ng-if="ctrl.newReleases.length == 0 && ctrl.clickCounter >= 1">No results</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid">
            <p>Information was freely provided by <a href="http://www.igdb.com">IGDB.com</a></p>
            <p>
            This site is not associated/affiliated with Steam or Valve Corp. 
            </p>
        </div>
    </body>
</html>